@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Your personal data and files that you upload to our site are protected
    and non-violated by law according to the legislation
    for the protection of personal data GDPR.
</p>
